<div id="header">
  <h1><img src="__PUBLIC__/Admin/images/logo.jpg" width="150px"; height="100px";/>看百味后台管理系统</h1>
</div>

<div id="left">
   <h3><img src="__PUBLIC__/Admin/images/houtai1_03.gif" />用户管理<img src="__PUBLIC__/Admin/images/houtai1_03.gif" /></h3>
  <ul>
    <li><img src="__PUBLIC__/Admin/images/houtai_03.gif" /><a href="__APP__/Admin/Index/index">修改用户信息</a></li>
  </ul>
  <h3><img src="__PUBLIC__/Admin/images/houtai1_03.gif" />帖子类别管理<img src="__PUBLIC__/Admin/images/houtai1_03.gif" /></h3>
  <ul>
    <li><img src="__PUBLIC__/Admin/images/houtai_03.gif"  border="0px"/><a href="__APP__/Admin/Index/noteshow">删除帖子</a><a href="lookleibieym.php"></a></li>
    <li><img src="__PUBLIC__/Admin/images/houtai_03.gif" /><a href="__APP__/Admin/Index/addnoteshow">填加帖子</a></li>
  </ul>
	<h3><img src="__PUBLIC__/Admin/images/houtai1_03.gif" />评论管理<img src="__PUBLIC__/Admin/images/houtai1_03.gif" /></h3>
  <ul>
    <li><img src="__PUBLIC__/Admin/images/houtai_03.gif" /><a href="__APP__/Admin/Index/commentshow">评论管理</a></li>
    
  </ul>
</div>