@charset "utf-8";
/*
a:focus {
	text-decoration: none
}

.bbstext.bbsCont {
	width: 1240px
}

.bbsRight {
	float: right;
	width: 280px;
	padding-top: 20px
}

.bbsLeft>.c_spread {
	margin-bottom: 30px
}
.bbsRight>.c_spread {
	margin-bottom: 20px;
	overflow: visible
}*/
